<style>
.main-404{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  text-align: center;
}
.shop-all-button-404{
  margin-top: 2rem;
  padding: 13px;
  border: 1px solid;
  border-style: hidden;
  /* background: black; */
  /* color: white; */
}
</style>
    
<div class="page-width">
  <div class="main-404">
    <h1>404 - PAGE NO LONGER EXISTS</h1>
    <a href="/collections/all" class="shop-all-button-404 button">SHOP ALL</a>
  </div>
</div>